.logo{
    width: 100%;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.contenido-medio{
    width: 100%;
    height: 70vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.caja-texto{
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 40%;
    height: 100%;
    text-align: center;
    display: inline-block;
    vertical-align:top;
}

.caja-texto-2{
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 30%;
    height: 100%;
    text-align: center;
    display: inline-block; 
    vertical-align:top;
    border-radius: 8px;
    border-color: #173753;
    border-style: groove;
    border-width: 3px;
}

.botones{
    width: 100%;
    text-align: center;
    display: inline-block;
}

.boton{
    padding: 1rem 2rem;
    margin: .5rem .5rem 0rem;
    text-align: center;
    color: whitesmoke;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.3em;
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 8px;
}

#encriptar{
    background-color: #1F5673;
}

#encriptar:hover{
    background-color: #376f8d;
}

#desencriptar{
    background-color: #759FBC;
}

#desencriptar:hover{
    background-color: #8db1ca;
}

textarea{
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.3em;
    height: 80%;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    resize: none;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border-color: #173753;
    border-style: groove;
    border-width: 3px;
}

.caja-texto-2 textarea{
    font-size: auto;
    font-family: 'Signika Negative', sans-serif;
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

#texto-salida{
    height: 70%;
    font-size: 1.3em;
    padding: 1rem;
    word-wrap:break-word;
    text-align: left;
    display: block;
    /*background: url(imagenes/munheco.svg);
    background-position: 50% 35%;
    background-repeat: no-repeat;*/
    background-color: whitesmoke;
    border: none;
}

.boton#copiar{
    background: #C1CFDA;
    color: black;
    margin-top: 1rem;
}

.boton#copiar:hover{
    background: #8ca1b1;
}

@media screen and (max-width: 810px) {
    .caja-texto, .contenido-medio, .caja-texto-2{
        display: block;
        width: auto;
        margin-bottom: 4rem;
    }

}